<h2>Play</h2>

<script>
window.onload = function(){
  var gameSettings = {
    activeColour: "<%= @active_colour %>",
    playerColour: "<%= @player_colour %>",
    turnsURL: "<%= @turns_url %>"
  };
  Blokus.init(gameSettings);
};
</script>

<div id="pieces"></div>
<div id="board"></div>