<h2>Play</h2>

<script>

function init(){
  Blokus.renderPieces();
};

window.onload = function(){
  init();
};


</script>

<p>hi</p>
<div id="pieces">
</div>

<!-- 
// load the turns

// build the board

// render the board

// get the available pieces

// render the sidebar of the players pieces (isomers for each)

-->