<% meta_game_id @game %>

<script>
window.onload = function(){
  Blokus.init();
};
</script>

<div id="wrapper">
	<header>
		<h2><%= current_user.name %></h2>
		<nav></nav>
	</header>

	<div id="content">
		<div id="board"></div>
	</div> 
	<div id="rightcol">
		<div id="gameover"></div>
		<div id="controls"></div>
		<div id="pieces"></div>
	</div> 
</div> 