<script>
window.onload = function(){
  var gameID = <%= @presenter.game_id %>;
  Blokus.init(gameID);
};
</script>


<div id="wrapper">
	<header>
		<h2><%= current_user.name %></h2>
		<nav></nav>
		<div id="gameover"></div>
	</header>

	<div id="content">
		<div id="board"></div>
	</div> 
	<div id="rightcol">
		<div id="controls"></div>
		<div id="pieces"></div>
	</div> 
</div> 