<script>
window.onload = function(){
  var gameSettings = {
    activeColour: "<%= @active_colour %>",
    isPlayersTurn: <%= @is_players_turn %>,
    turnsURL: "<%= @turns_url %>",
    playerID: "<%= @player_id %>"
  };
  Blokus.init(gameSettings);
};
</script>

<div id="pieces"></div>
<div id="board"></div>
<div id="controls"></div>