#board {  
  width: 500px;
  padding-left: 50px;
  position: fixed;
  top: 10px;
  left: 450px;
}

.squares {
}

.squares:after{
	clear: both;
  content: "";
  display: block;
}

.square-row {
  width: 600px;
  height: 30px;
}

.square {
  position: relative;
  display: inline-block;
	width: 30px;
	height: 30px;
  fill: lightgray;
  stroke: darkgray;
  overflow: hidden;
}

#log {
  padding: 5px;
  width: 600px;
  height: 50px;
  position: fixed;
  top: 630px;
  left: 500px;
  border: 1px solid red;
}

#pieces {
  position: fixed;
  left: 0;
  top: 0;
  width: 400px;
  max-height: 100%;
  overflow-y: scroll;
}

.shape {
  background: darkgray;
}

.shape h3 {
  height: auto;
  background: lightgray;
  padding: 0px;
  padding-left: 10px;
  margin: 0px;
  display: flex;
}

.isomers {
  height: auto;
  width: auto;
}

.isomers:after {
  clear: both;
  content: "";
  display: block;
}

.isomer {
  float: left;
  margin: 10px;
}

.wide-stroke {
  stroke-width: 7px;
}

.block-blue {
	stroke: blue;
	fill: lightblue;
}

.block-yellow {
	stroke: orange;
	fill: yellow;
}

.block-red {
	stroke: red;
	fill: pink;
}

.block-green {
	stroke: darkgreen;
	fill: lightgreen;
}

[draggable] {
	cursor: move;
}

.over {
  fill: black;
}

.invalid-placement {
  fill: purple;
}