$square-multiplier: 3;
$square-scale: $square-multiplier * 10px;
/*$square-scale: 30px;*/

#wrapper {
  width: 960px;
  background-color: #FFF;
  margin-left:auto;
  margin-right:auto;
}

header {
  
}

nav {
  width:960px;
}

#content {
  float: left;
  width:660px;
}

#rightcol {
  float: left;
  width: 300px;
}

#gameover {
  
}

#controls {
  padding: 5px;
  height: 25px;
}

#board {
}

.squares {
}

.squares:after{
	clear: both;
  content: "";
  display: block;
}

.square-row {
  width: $square-scale*20;
  height: $square-scale;
}

.square {
  position: relative;
  display: inline-block;
	width: $square-scale;
	height: $square-scale;
  fill: lightgray;
  stroke: darkgray;
  overflow: hidden;
}

#pieces {
  width: 400px;
  height: 575px;
  overflow-y: scroll;
}

.shape {
  background: darkgray;
}

.shape h3 {
  height: auto;
  background: lightgray;
  padding: 0px;
  padding-left: 10px;
  margin: 0px;
  display: flex;
}

.isomers {
  height: auto;
  width: auto;
}

.isomers:after {
  clear: both;
  content: "";
  display: block;
}

.isomer {
  float: left;
  margin: 10px;
}

.wide-stroke {
  stroke-width: 7px;
}

.block-blue {
	stroke: blue;
	fill: lightblue;
}

.block-yellow {
	stroke: orange;
	fill: yellow;
}

.block-red {
	stroke: red;
	fill: pink;
}

.block-green {
	stroke: darkgreen;
	fill: lightgreen;
}

[draggable] {
	cursor: move;
}

.over {
  fill: black;
}

.invalid-placement {
  fill: purple;
}