$square-multiplier: 3;
$square-scale: $square-multiplier * 10px;

#wrapper {
  width: 960px;
  background-color: #FFF;
  margin-left:auto;
  margin-right:auto;
}

header {
  
}

nav {
  width:960px;
}

#scores {
  margin-left: auto;
  margin-right: auto;
}

#scores:after {
  clear: both;
  content: "";
  display: block;
}

@mixin score-wrapper($border-colour) {
  border: 3px solid $border-colour;
  width: 129px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.score-wrapper-blue {
  @include score-wrapper(blue)
}

.score-wrapper-yellow {
  @include score-wrapper(yellow)
}

.score-wrapper-red {
  @include score-wrapper(red)
}

.score-wrapper-green {
  @include score-wrapper(green)
}

.score-player-name {
  
}

.score-player-score {
  
}

#content {
  float: left;
  width:660px;
}

#rightcol {
  float: left;
  width: 300px;
}

#gameover {
  width: 100%;
}

#controls {
  padding: 5px;
  height: 25px;
}

#pieces {
  width: 400px;
  height: 575px;
  overflow-y: scroll;
}

.shape {
  background: darkgray;
}

.shape h3 {
  height: auto;
  background: lightgray;
  padding: 0px;
  padding-left: 10px;
  margin: 0px;
  display: flex;
}

.isomers {
  height: auto;
  width: auto;
}

.isomers:after {
  clear: both;
  content: "";
  display: block;
}

.isomer {
  float: left;
  margin: 10px;
  stroke: darkgray;
  stroke-width: 1px;
}

#board {
}

.squares {
  width: $square-scale*20;
  border: 1px solid darkgray;
}

.squares:after{
  clear: both;
  content: "";
  display: block;
}

.square-row {
  width: $square-scale*20;
  height: $square-scale;
}

.square {
  position: relative;
  display: inline-block;
  width: $square-scale;
  height: $square-scale;
  fill: lightgray;
  stroke: darkgray;
  stroke-width: 1px;
  overflow: hidden;
}

@mixin square-colour($fill-colour) {
  fill: $fill-colour;
}

.block-blue {
  @include square-colour(blue);
}

.block-yellow {
  @include square-colour(yellow);
}

.block-green {
  @include square-colour(green);
}

.block-red {
  @include square-colour(red);
}

[draggable] {
  cursor: move;
}

.over, .hint {
  fill: violet;
}

.invalid-placement {
  fill: black;
}