#board {  
  width: 500px;
  padding-left: 50px;
  position: fixed;
  top: 40px;
  left: 450px;
}

.squares {
}

.squares:after{
	clear: both;
  content: "";
  display: block;
}

.square-row {
  width: 600px;
  height: 30px;
}

.square {
  position: relative;
  display: inline-block;
	width: 30px;
	height: 30px;
  fill: lightgray;
  stroke: darkgray;
}

#pieces {
  position: fixed;
  left: 0;
  top: 0;
  width: 400px;
  max-height: 100%;
  overflow-y: scroll;
}

.shape {
  background: darkgray;
}

.shape h3 {
  color: blue;
  height: auto;
  background: lightgray;
  padding: 0px;
  margin: 0px;
}

.isomers {
	height: auto;
	width: auto;
}

.isomers:after {
	clear: both;
  content: "";
  display: block;
}

.isomer {
  float: left;
	margin: 10px;
}

.block-blue {
	stroke: blue;
	fill: lightblue;
}

.block-yellow {
	stroke: orange;
	fill: yellow;
}

.block-red {
	stroke: red;
	fill: pink;
}

.block-green {
	stroke: darkgreen;
	fill: lightgreen;
}

[draggable] {
	cursor: move;
}

.over {
	/*border: 2px dashed #000;*/
  fill: blue;
}